$primary: #0076fe

.card-header
  background: white
  padding: 1rem 0rem 0rem 0rem

.nav
  flex-wrap: inherit

.nav-item
  flex-grow: 1

.card
  margin-top: 2rem

.nav-link-active
  color: $primary
  font-weight: 700
  border-bottom: $primary solid 0.5rem

.nav-link
  color: #363b3f
  text-align: center

.text-color
  color: $primary
  text-align: center

#container
  display: flex
  justify-content: center
  align-items: center
