<div class="col-xs-12 col-sm-6 offset-sm-3">


  <div>
    <div class="col 6 title-fonts"> Realizar cambio</div>
    <div class="col 6 content-fonts"> Seleccione las monedas</div>
  </div>


  <div class="card card-body-item align-items-center">

    <div class="mb-3 input-icon">
      <i>$</i>
      <input [(ngModel)]="coinToConvert === undefined? 0 : coinToConvert.coinPrice" class="round-bordered" type="text">

    </div>

    <div class="parent">

      <div class="wrapper">

        <div #myDrop1="ngbDropdown" class="d-inline-block first" ngbDropdown>
          <button (focus)="myDrop1.open()" class="btn btn-light btn-dropdown" id="deMoneda" ngbDropdownAnchor
          >{{fromCoinSelected}}<i
            [ngClass]="{'select-down-arrow': fromCoinSelected, 'not-select-down-arrow' : !fromCoinSelected}"><img
            alt="converter"
            height="30" src="./assets/down-arrow.png" width="34"></i></button>
          <div aria-labelledby="deMoneda" class="dropdown-menu" ngbDropdownMenu>
            <div *ngFor="let fCoin of fromCoin">
              <button (click)="fromCurrency(fCoin)" class="dropdown-item" ngbDropdownItem>{{fCoin}}</button>
            </div>
          </div>
        </div>

        <div #myDrop2="ngbDropdown" class="d-inline-block second" ngbDropdown>
          <button (focus)="myDrop2.open()" class="btn btn-light btn-dropdown" id="aMoneda" ngbDropdownAnchor
          >{{toCoinSelected}} <i
            [ngClass]="{'select-down-arrow': toCoinSelected, 'not-select-down-arrow' : !toCoinSelected}"><img
            alt="converter"
            height="30" src="./assets/down-arrow.png"
            width="34"></i></button>
          <div aria-labelledby="aMoneda" class="dropdown-menu" ngbDropdownMenu>
            <div *ngFor="let tCoin of toCoin">
              <button (click)="toCurrency(tCoin)" class="dropdown-item" ngbDropdownItem>{{tCoin}}

              </button>
            </div>
          </div>
        </div>

        <div class="col-1 third">
          <a (click)="realizarCambio()" class="btn rounder"><img alt="converter"
                                                                 height="30" src="./assets/converter_button.PNG"
                                                                 width="34"></a>
        </div>
      </div>

      <div class="input-icon" disabled="true">
        <i>$</i>
        <input [value]="resultValue? resultValue: 0.00" class="round-bordered" disabled type="text"/>
      </div>

    </div>

  </div>
</div>
